<center><h1>Video Game Recommendation System</h1></center>

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

from sklearn.metrics.pairwise import cosine_similarity
from scipy.spatial.distance import cosine

In [2]:
df = pd.read_csv("steam-200k.csv", header=None)

In [3]:
df.head(10)

           0                           1         2      3  4
0  151603712  The Elder Scrolls V Skyrim  purchase    1.0  0
1  151603712  The Elder Scrolls V Skyrim      play  273.0  0
2  151603712                   Fallout 4  purchase    1.0  0
3  151603712                   Fallout 4      play   87.0  0
4  151603712                       Spore  purchase    1.0  0
5  151603712                       Spore      play   14.9  0
6  151603712           Fallout New Vegas  purchase    1.0  0
7  151603712           Fallout New Vegas      play   12.1  0
8  151603712               Left 4 Dead 2  purchase    1.0  0
9  151603712               Left 4 Dead 2      play    8.9  0

In [4]:
df.rename(columns={
    0: "user_id", 
    1: "games",
    2: "action",
    3: "hours",
    4: "unknown"
}, inplace=True)

In [5]:
df.head(10)

     user_id                       games    action  hours  unknown
0  151603712  The Elder Scrolls V Skyrim  purchase    1.0        0
1  151603712  The Elder Scrolls V Skyrim      play  273.0        0
2  151603712                   Fallout 4  purchase    1.0        0
3  151603712                   Fallout 4      play   87.0        0
4  151603712                       Spore  purchase    1.0        0
5  151603712                       Spore      play   14.9        0
6  151603712           Fallout New Vegas  purchase    1.0        0
7  151603712           Fallout New Vegas      play   12.1        0
8  151603712               Left 4 Dead 2  purchase    1.0        0
9  151603712               Left 4 Dead 2      play    8.9        0

In [6]:
df.drop("unknown", axis=1, inplace=True)

In [7]:
df.head(10)

     user_id                       games    action  hours
0  151603712  The Elder Scrolls V Skyrim  purchase    1.0
1  151603712  The Elder Scrolls V Skyrim      play  273.0
2  151603712                   Fallout 4  purchase    1.0
3  151603712                   Fallout 4      play   87.0
4  151603712                       Spore  purchase    1.0
5  151603712                       Spore      play   14.9
6  151603712           Fallout New Vegas  purchase    1.0
7  151603712           Fallout New Vegas      play   12.1
8  151603712               Left 4 Dead 2  purchase    1.0
9  151603712               Left 4 Dead 2      play    8.9

In [42]:
for grp in df.groupby(["user_id"]):
    print(grp[1])
    break

       user_id                     games    action  hours
65423     5250           Cities Skylines  purchase    1.0
65424     5250           Cities Skylines      play  144.0
65425     5250  Deus Ex Human Revolution  purchase    1.0
65426     5250  Deus Ex Human Revolution      play   62.0
65427     5250                  Portal 2  purchase    1.0
65428     5250                  Portal 2      play   13.6
65429     5250               Alien Swarm  purchase    1.0
65430     5250               Alien Swarm      play    4.9
65431     5250           Team Fortress 2  purchase    1.0
65432     5250           Team Fortress 2      play    0.8
65433     5250                    Dota 2  purchase    1.0
65434     5250                    Dota 2      play    0.2
65435     5250            Counter-Strike  purchase    1.0
65436     5250     Counter-Strike Source  purchase    1.0
65437     5250             Day of Defeat  purchase    1.0
65438     5250        Deathmatch Classic  purchase    1.0
65439     5250                 Half-Life  purchase    1.0
65440     5250               Half-Life 2  purchase    1.0
65441     5250    Half-Life 2 Deathmatch  purchase    1.0
65442     5250   Half-Life 2 Episode One  purchase    1.0
65443     5250   Half-Life 2 Episode Two  purchase    1.0
65444     5250    Half-Life 2 Lost Coast  purchase    1.0
65445     5250      Half-Life Blue Shift  purchase    1.0
65446     5250  Half-Life Opposing Force  purchase    1.0
65447     5250                    Portal  purchase    1.0
65448     5250                  Ricochet  purchase    1.0
65449     5250     Team Fortress Classic  purchase    1.0